name: Deploy to server

on: 
  push: 
    branches:
      - main
jobs:
  deploy:
      runs-on: ubuntu-latest

      steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-actions@v0.1.6
        with: 
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}

          script: |
            cd ~/srv/coursework-frontend
            git fetch origin 
            git reset --hard origin/main
            npm install
            pm2 restart Frontend
