name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHRC_PAT }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/hadcrab/frontend:latest .
          docker push ghcr.io/hadcrab/frontend:latest

      - name: SSH to server and update container
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /srv
            docker pull ghcr.io/hadcrab/frontend:latest
            docker compose up -d frontend
